<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <!-- CommandableCacheSettings -->
    <add key="CacheExpiryInSeconds" value="600"/>
    
    <!-- FallbackRoutingInfoProviderSettings -->
    <add key="FallbackHostName" value="rabbit.openampere.com"/>
    <add key="FallbackPort" value="5671"/>
    
    <!-- FileBasedCertProviderSettings -->
    <add key="ClientCertFilename" value=".\amp-test-cert.pfx"/>
    <add key="ClientCertPassword" value="1qaz@WSX3edc$RFV"/>
    
    <!-- OutboundHeadersProcessorSettings -->
    <add key="AlternateSenderIdentity" value="integration-test"/>
    
    <!-- RoutingInfoRetrieverSettings -->
    <add key="RoutingInfoRetrieverSettings" value="https://gts.openampere.com:15677/service/topology/get-routing-info/{0}" />
    
    <!-- TokenConnectionFactorySettings -->
    <add key="AnubisUri" value="https://anubis.openampere.com:15678/anubis/identity/authenticate"/>
  </appSettings>
</configuration>