<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="amp.bus" version="3.2.1.0" targetFramework="net45" />
  <package id="amp.bus.security" version="3.2.1.0" targetFramework="net45" />
  <package id="amp.eventing" version="3.2.1.0" targetFramework="net45" />
  <package id="amp.messaging" version="3.2.1.0" targetFramework="net45" />
  <package id="cmf.bus" version="3.2.1.0" targetFramework="net45" />
  <package id="cmf.eventing" version="3.2.1.0" targetFramework="net45" />
  <package id="Common.Logging" version="1.2.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="4.0.8" targetFramework="net45" />
  <package id="NUnit" version="2.6.1" targetFramework="net45" />
</packages>